body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-family: "Times New Roman", serif;
    background: url('img/certificate.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.certificate {
    width: 1200px;
    height: 850px;
/*     background: #fff; */
    margin: 30px auto;
    padding: 40px 60px;
    position: relative;
    overflow: hidden;
/*     box-shadow: 0 0 20px #ccc; */
}

/* Background Shapes */
.certificate::before,
.certificate::after {
    content: "";
    position: absolute;
    width: 260px;
    height: 100%;
    top: 0;
    z-index: -1;
/*     background: linear-gradient(#d1e8ec, #bfe3e6, #34b3c7); */
}

.certificate::before { left: 0; border-radius: 0 50px 50px 0; }
.certificate::after { right: 0; border-radius: 50px 0 0 50px; }

/* Top Right College Name */
.college-name {
    position: absolute;
    top: 30px;
    right: 60px;
    font-size: 28px;
}

/* Logo */
.logo {
    position: absolute;
    width: 180px;
    top: 25px;
    left: 30px;
}

/* Heading */
.title {
    text-align: center;
    font-size: 60px;
    letter-spacing: 3px;
    color: #0a615f;
    margin-top: 80px;
    margin-bottom: 15px;
}

.subtitle {
    text-align: center;
    font-size: 22px;
    letter-spacing: 3px;
    margin-top: -10px;
}

.presented {
    text-align: center;
    font-size: 18px;
    width: 80%;
    margin: 20px auto;
}

.certify {
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
}

.student-name {
    text-align: center;
    font-size: 48px;
    color: #0a615f;
    border-bottom: 2px solid #ddd;
    width: 60%;
    margin: 10px auto;
    padding-bottom: 10px;
}

.participated {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.workshop {
    text-align: center;
    font-size: 20px;
    width: 70%;
    margin: 25px auto;
    line-height: 32px;
}

.tagline {
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
}

.date {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

/* Footer Area */
.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 40px;
}

/* Signatures */
.sign {
    width: 250px;
    text-align: center;
}

.sign.left{
    margin-left: 100px;
}

.sign.right{
    margin-right: 100px;
}

.sign-img {
    width: 140px;
    height: auto;
}

.signature-text{
   margin-bottom: 0;
}

.sign-name {
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px solid #999;
    padding-bottom: 6px;
/*     margin-top: 6px; */
    width: 166px;
    margin: 8px auto 20px;
}

.sign-des {
    font-size: 15px;
    margin-top: -10px;
}

/* Badge */
.badge {
/*     width: 120px;
    height: 120px;
    border: 6px solid #0a615f;
    border-radius: 50%;
    margin-top: 30px; */
}

