<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Certificate</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="certificate">

    <!-- Logo at top only -->
    <img src="img/logo-tgys.png" class="logo">

    <h1 class="title">CERTIFICATE</h1>
    <h2 class="subtitle">OF ACHIEVEMENT</h2>

    <p class="presented">
        This Certificate is Proudly Presented by  
        <b>TGAYS Technology Private Limited</b>
    </p>

    <p class="certify">This is to certify that</p>

    <h1 class="student-name">{{Student Name<}}/h1>

    <p class="participated">
        from <b>{{College Name}}</b> has successfully participated in the
    </p>
    
    <p class="workshop">
        <b>{{Quiz Title}}</b><br>
        organized by <b>TGAYS Technology Private Limited</b>.
    </p>

    <p class="tagline">
        Awarded in recognition of strong problem-solving skills, technical competence,<br>
        and effective application of Python concepts to real-world challenges.
    </p>

    <p class="date">
        <b>Performance Score:</b> {{score}} <br>
        <b>Date:</b> {{date}}
    </p>

    <div class="footer">

        <div class="sign left">
            <p class="signature-text">{{Jamal Signature}}</p>
            <p class="sign-name">Jamal Ashraf</p>
            <p class="sign-des">
                Director<br>
                TGAYS Technology Pvt. Ltd.
            </p>
        </div>

        <div class="badge">
            <img src="img/badge.png">
        </div>

        <div class="sign right">
            <p class="signature-text">{{Najish Signature}}</p>
            <p class="sign-name">Md Najish Khan</p>
            <p class="sign-des">
                Software Engineer (Instructor)<br>
                TGAYS Technology Pvt. Ltd.
            </p>
        </div>

    </div>

</div>

</body>
</html>
